.description {
	display: flex;
}

.description p {
	margin: 0;
	width: 80%;
}

.description .price-tag {
	border: 1px solid red;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}